* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #3a3f4b #1a1d24;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #e2ebf3;
    background: #0c1016;
}

header {
    background: linear-gradient(135deg, rgba(122, 45, 147, 0.6) 0%, rgba(0, 68, 128, 0.6) 100%);
    padding: 1.1rem 0;
}


.big-logo img {
    height: 90px;
    width: auto;
    display: flex;
}

.small-logo img {
    width: 40px;
    height: auto;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 2rem;
}

header .container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: #adb4e4;
}

.logo-text-container img {
    display: block;
    height: 30px;
    width: auto;
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
}


nav {
    background: rgba(30, 33, 37, 0.95);
    backdrop-filter: blur(10px);
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(241, 241, 241, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #9fadff;
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.55), color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.55);
}

nav a:hover {
    color: #90caf9;
    font-weight: bolder;
    transform: scale(1.1);
}


.hero {
    background: #1e2125;
    /* Dark background */
    padding: 3rem 0;
    margin: 2rem 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    border: 2px solid transparent;
    transition: all 0.15s;
    overflow: hidden;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 4rem;
    padding-left: 4rem;
    position: relative;
    z-index: 2;
}

.hero h2 {
    font-size: 2rem;
    color: #aeb5e6;
    margin-bottom: 1rem;
}

.hero p {
    color: #e2ebf3;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.doc-card::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: radial-gradient(800px circle at 0 0,
            rgba(59, 248, 251, 0.15),
            transparent 40%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

.docs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
}

.doc-card {
    background: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.15s;
    text-decoration: none;
    color: inherit;
    /* border: 3px solid transparent; */
    min-height: 200px;
    padding: 1px;
}

.doc-card:hover {
    transform: scale(0.95);
}

.doc-card:hover::before {
    opacity: 1;
}

.doc-card-content {
    background-color: #1e2125;
    border-radius: inherit;
    transition: all 0.25s;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    padding: 1.5rem;
    position: relative;
    z-index: 2;
}

.doc-card h3 {
    color: #82b1fb;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.doc-card p {
    color: #aaa;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background: rgba(68, 88, 136, 0.83);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    z-index: 3;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(59, 248, 251, 0.4);
    color: white;
}

footer {
    background: #1e2125;
    color: white;
    text-align: left;
    padding: 0.5rem 0;
    margin-top: 3rem;
    font-size: 0.75rem;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: #64b5f6;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
}

a {
    color: #e2ebf3;
    text-decoration: underline;
}

a:hover {
    color: #97b7e8;
    text-decoration: unset;
}

.params-section {
    padding: 0.5rem 0;
    margin: 0 0;
    background: rgba(40, 44, 52, 0.40);
    border-radius: 5px;
}

.param-item {
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.param-item:last-child {
    margin-bottom: 0;
}

.param-name {
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.param-type {
    font-style: italic;
    font-weight: normal;
}

.param-description {
    line-height: 1.5;
    padding-left: 1rem;
}

.general-structure {
    color: #e2ebf3;
}

.general-structure h1 {
    color: #82b1fb;
    margin-bottom: 0.5rem;
}

.general-structure h2 {
    color: #82b1fb;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.general-structure h3 {
    color: #adb4e4;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.general-structure p {
    margin-bottom: 1rem;
}

.quote {
    padding: 0.7rem 1rem;
    margin: 0 auto;
    background: rgba(40, 44, 52, 0.53);
    border-radius: 5px;
    text-align: center;
    max-width: 20cm;
    font-weight: bold;
}

.inline-code {
    font-family: monospace;
    font-size: 1rem;
    color: #ABB2BF;
    background-color: #282C34;
    border-radius: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.quick-description .title {
    color: #adb4e4;
    font-weight: bold;
}

.quick-description .description {
    padding-left: 1rem;
}